@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

*{
    margin: 0;
    padding: 0;
   font-family: "Poppins", sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
}

.navbar-text button{
    border: white;
}

button {
    padding: 10px 40px;
    background-color: #f5d56d;
    color: white;
    border: none;
}
button:hover {
    background-color: #FCC822 ;
    color: white;
}

.hero h1 {
    font-size: 53.78px;
    font-weight: 500;
    line-height: 60.59px;
    text-align: left;
    color: #333333;


}

.hero p {
    font-size: 20.67px;
    font-weight: 400;
    line-height: 64.85px;
    color: #828282;

}

.hero span{
    font-size: 20.67px;
font-weight: 400;
line-height: 64.85px;
color: #828282;
}

.signimg img{
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
    margin-bottom: 500px;

}



